language = "java10"
run = "javac -d bin src/gr11review/part2/Main.java; javac -d bin -sourcepath src -classpath lib/junit-platform-console-standalone-1.7.0-M1.jar src/gr11review/test2/FileIO2Test.java; java -jar lib/junit-platform-console-standalone-1.7.0-M1.jar --class-path bin -c gr11review.test2.FileIO2Test"